@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('fonts/glacial/glacialindifference-regular-webfont.eot');
    src: url('fonts/glacial/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glacialglacialindifference-regular-webfont.woff2') format('woff2'),
         url('fonts/glacial/glacialindifference-regular-webfont.woff') format('woff'),
         url('fonts/glacial/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    font-family: 'glacial_indifferenceregular';
    background-color: ghostwhite;
}
#dashboard{
    background-color:#0b132b;
     display: block;
}
#hr{
    height: 1px;
    background-color: #ffffff;
    width: 30%;
}
#image{
    height: 120px;
    width: 120px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #ffffff;
}
ul{
    margin-top: 30%;
    
}
li{
    color: #5bc0eb;
    list-style-type: none;
}
.link{
    margin-top: 20%;
}
#link{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#link:hover{
    background-color: #1c2541;
}
#inventory{
    display: grid;
    grid-template-rows: 30vh 70vh;
}
#sales{
    display: flex;
    justify-content: center;
    align-items: center;
}
#report{
    height: 20vh;
    width: 20%;
    margin-right: 2%;
    background-color: #5bc0eb;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
}
#table{
    display: flex;
}
#table_view{
    margin-left:6%;
    width: 60%;
    overflow-y: scroll;
    
    height: 65vh;
}
table{
    width: 100%;
    
}
th{
    color: #ffffff;
    padding: 3%;
    background-color: #0b132b;
}
tr{
    color: #ffffff;
}
td{
    padding-top: 2%;
    padding-bottom: 2%;
}
tr:nth-child(odd){
    background-color: #3a506b;
}
tr:nth-child(even){
    background-color:#1c2541;
}
#stock{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
}
#search_container, #add_item{
    margin-left: 25%;
}
#add_item{
    margin-top: 20%;
    background-color: #5bc0eb;
    width: 137%;
    box-sizing: border-box;
    height: 50vh;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_container{
    background-color: #5bc0eb;
    width: 137%;
    box-sizing: border-box;
    height: 12vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: block;
    box-sizing: border-box;
    padding: 6%;
    margin-bottom: 10%;
    border-radius: 5px;
    border: 1px solid #0b132b;
}
#addButton{
    background: transparent;
    border: 1px solid #0b132b;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5%;
    width: 100%;
    cursor: pointer;
}
#addButton:hover{
    background-color: #0b132b;
    color: #ffffff;
}

/*********************/


/* [Object] Modal
 * =============================== */
 .modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .9);
    transition: opacity .25s ease;
  }
  
  .modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  
  .modal-state {
    display: none;
  }
  
  .modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-state:checked + .modal .modal__inner {
    top: 0;
  }
  
  .modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 50%;
  }
  
  .modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
  }
  
  .modal__close:after,
  .modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
  }
  
  .modal__close:hover:after,
  .modal__close:hover:before {
    background: #aaa;
  }
  
  .modal__close:before {
    transform: rotate(-45deg);
  }
  
  @media screen and (max-width: 768px) {
      
    .modal__inner {
      width: 90%;
      height: 90%;
      box-sizing: border-box;
    }
  }
  
  
  /* Other
   * =============================== */
  body {
    padding: 1%;
    font: 1/1.5em sans-serif;
    text-align: center;
  }
  
  .btn {
    cursor: pointer;
    background: #27ae60;
    display: inline-block;
    padding: .5em 1em;
    color: #fff;
    border-radius: 3px;
  }
  
  .btn:hover,
  .btn:focus {
    background: #2ecc71;
  }
  
  .btn:active {
    background: #27ae60;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
  }
  
  .btn--blue {
    background: #2980b9;
  }
  
  .btn--blue:hover,
  .btn--blue:focus {
    background: #3498db;
  }
  
  .btn--blue:active {
    background: #2980b9;
  }
  
  p img {
    max-width: 200px;
    height: auto;
    float: left;
    margin: 0 1em 1em 0;
  }