@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('fonts/glacial/glacialindifference-regular-webfont.eot');
    src: url('fonts/glacial/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glacialglacialindifference-regular-webfont.woff2') format('woff2'),
         url('fonts/glacial/glacialindifference-regular-webfont.woff') format('woff'),
         url('fonts/glacial/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    font-family: 'glacial_indifferenceregular';
    background-color: ghostwhite;
}
#dashboard{
     background-color:#0b132b;
     display: block;
}
#hr{
    height: 1px;
    background-color: #ffffff;
    width: 30%;
}
#image{
    height: 120px;
    width: 120px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dashlink{
    text-decoration: none;
    color: #ffffff;
}
ul{
    margin-top: 30%;
    
}
li{
    color: #5bc0eb;
    list-style-type: none;
}
.link{
    margin-top: 20%;
}
#link{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#link:hover{
    background-color: #1c2541;
}
#inventory{
    display: grid;
    grid-template-rows: 30vh 70vh;
}
#sales{
    display: flex;
    justify-content: center;
    align-items: center;
}
#report{
    height: 20vh;
    width: 20%;
    margin-right: 2%;
    background-color: #5bc0eb;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
}
#modalbutton{
    padding:3%; 
    width:70%; 
    background-color: transparent; 
    border:1px solid #5bc0eb;
    box-sizing: border-box;
    border-radius: 5px;
}
#modalbutton:hover{
    padding:3%; 
    width:70%; 
    background-color: #5bc0eb; 
    border:1px solid #5bc0eb;
}

#table{
    display: flex;
}
#table_view{
    margin-left:6%;
    width: 60%;
    overflow-y: scroll;
    
    height: 65vh;
}
table{
    width: 100%;
    
}
th{
    color: #ffffff;
    padding: 3%;
    background-color: #0b132b;
}
tr{
    color: #ffffff;
}
td{
    padding-top: 2%;
    padding-bottom: 2%;
}
tr:nth-child(odd){
    background-color: #3a506b;
}
tr:nth-child(even){
    background-color:#1c2541;
}
#stock{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
}
#search_container, #add_item{
    margin-left: 25%;
}
#add_item{
    margin-top: 20%;
    background-color: #5bc0eb;
    width: 137%;
    box-sizing: border-box;
    height: 50vh;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_container{
    background-color: #5bc0eb;
    width: 137%;
    box-sizing: border-box;
    height: 12vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select{
    display: block;
    box-sizing: border-box;
    padding: 6%;
    margin-bottom: 10%;
    border-radius: 5px;
    border: 1px solid #0b132b;
}
#addButton{
    background: transparent;
    border: 1px solid #0b132b;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5%;
    width: 100%;
    cursor: pointer;
}
#addButton:hover{
    background-color: #0b132b;
    color: #ffffff;
}

/*********************/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 50vh;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button search */
  .closex {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closex:hover,
  .closex:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /*******/
  .closey {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closey:hover,
  .closey:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }